/*.postapp {
    display: flex;
}

.feed {
    flex: 0.4;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar {
    display: none;
  }
  
 
  .feed {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }



.feedHeader {
    padding: 10px;
}

.feedBox {
    padding-bottom: 30px;
    border-bottom: 10px;
    width: 60%;
    border: 1px solid lightskyblue;
}

.feedBox-input {
    padding: 20px;
    
}

.feedBox-input > input {
    flex: 1;
    font-size: 20px;
    border: none;
}

.sidebar {
    display: flex;
}

.postbutton {
    float: right;
    padding-bottom: 20px;
}
*/
.sidebar {
    display: flex;
}
.postapp {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.form-element {
    padding: 8px 0;
}

.feed {
    flex: 0.4;
    min-width: fit-content;
    overflow-y: scroll;
}
.feed::-webkit-scrollbar {
    display: none;
  }
  
 
  .feed {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
.writeForm{
    position: relative;
    padding-bottom: 20px;
}

.writeFormGroup{
    display: flex;
    align-items: center;
}

.writeInput {
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 50vw;
}

.writeInput:focus {
    outline: none;
}

.writeText {
    font-size: 20px;
}

.writeSubmit {
  color: white;
  background-color: blue;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  
}

