.project-membership-scroll{
    display: inherit;
    max-height: 600px;
    overflow-y: scroll;
    padding: 16px;
    gap: 16px;
    flex-direction: inherit;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  .project-membership-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  .project-following-scroll{
    display: inherit;
    max-height: 370px;
    overflow-y: scroll;
    padding: 16px;
    gap: 16px;
    flex-direction: inherit;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  .project-following-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

.review-body-style {
  padding-top: 5vh;
}


.alert-profile{
  margin-top: 10px;
}
 




  