/* .project-add-heading h2 {
	font-weight: 600;
	padding: 64px 16px;
	color: rgb(23, 24, 24);
	text-align: center;
  } */
  .page-title-container {
	font-weight: 600;
	display: flex;
	justify-content: center;
	padding: 10vh 0;
  }
  
  .page-title-container .page-title {
	color: rgb(25, 209, 223);
	padding: 8px;
  }
  
  .project-add-form {
	display: flex;
	gap: 24px;
	min-height: 35vh;
	padding: 16px 10vw;
  }
  
  .project-add-form label {
	font-size: 18px;
  }
  
  .project-add-form textarea {
	resize: none;
  }
  
  .name-skills-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
  }
  .tags-links-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
  }
  
  .links-form-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 8px 8px 16px;
	border: 1px solid lightblue;
  }
  
  .links-form-group label {
	font-weight: bold;
  }
  
  
  .links-form-group .remove-link-btn {
	  width: 100%;
  }
  
  .links-btn-container {
	display: flex;
	justify-content: flex-end;
	padding: 0 10vw;
  }
  