@import 'bootstrap/dist/css/bootstrap.min.css';

.profilepic {
	position: absolute;
	left: 200px;
  }
  
  .Leader {
	position:absolute;
	left: 150px;
	top: 300px;
	right: 1450px;
   
  }
  
  .Member {
	position: absolute;
	left: 150px;
	top: 500px;
	right: 1450px;
  }
  
  .Description {
	position:absolute;
	left: 550px;
	top: 300px;
	right: 700px;
  }
  
  .Requirement {
	position:absolute;
	left: 1300px;
	top: 300px;
	right: 150px;
  }
  
  .Submit {
	position:absolute;
	left: 900px;
	top: 800px;
  }

  .button-form {
	  text-align: center;
  }

  .alert-project{
	margin-top: 30px;
  }


  .transition-card{
	background: rgb(64, 156, 243);
	padding: 3rem 5rem;
	border-radius: 2rem;
	
  }

  .transition-div{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
  }

  .transition-card p {
	  padding-top: 1rem;
	  line-height: 150%;
	  font-family: sans-serif;
  }

  .display-inline{
	display:inline;
  }

  .display-inline-h4{
	display:inline;
	text-decoration: underline;
  }
 