@import 'bootstrap/dist/css/bootstrap.min.css';

#main-container {
  /*place-items: center;*/
}

.header-css {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
}


.info-Banner {
  width: auto;
  height: auto;
  border-radius: 50%;
  border: none;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: black;
  }
  
  /* Control the right side */
  .right {
    right: 0;

  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
 