@import 'bootstrap/dist/css/bootstrap.min.css';

#main-container {
  place-items: right ;
}

.header-css {
  font-family: cursive;
  font-style: normal;
  font-weight: normal;
}

.info-Banner {
  background: url('../assets/unknown.png');
  width: auto;
  height: auto;
  border-radius: 50%;
}